<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.nishantyadav.routesmart"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="RouteSmart">

        <activity
            android:name="com.nishantyadav.routesmart.MapActivity"
            android:exported="false"/>

        <activity
            android:name="com.nishantyadav.routesmart.DashboardActivity"
            android:exported="false"/>

        <activity
            android:name="com.nishantyadav.routesmart.RegisterActivity"
            android:exported="false"/>

        <activity
            android:name="com.nishantyadav.routesmart.LoginActivity"
            android:exported="false"/>

        <activity
            android:name="com.nishantyadav.routesmart.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>